# Identifies the release and plugin bundles as binary content. This way Git won't bother showing massive diffs each time you subsequently add or update them

/.yarn/releases/** binary
/.yarn/plugins/** binary