// Custom.scss
// Option B: Include parts of CoreUI

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/@coreui/coreui/scss/functions";

// 2. Include any default variable overrides here
$header-bg: #003CE0;
$font-family-base: "Fraunces", serif;
$footer-bg: #003CE0;
$header-brand-color: white;

// 3. Include remainder of required CoreUI stylesheets
@import "../node_modules/@coreui/coreui/scss/variables";

// 4. Include any default map overrides here
/* // Create your own map
$custom-colors: (
    "custom-color-1": #303D61;
    "custom-color-2": #003CE0;
    "custom-color-3": #E0BC00;
    "custom-color-4": #6E6B5E;
    "custom-color-5": #E08600;
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors); */

// 5. Include remainder of required parts
@import "../node_modules/@coreui/coreui/scss/maps";
@import "../node_modules/@coreui/coreui/scss/mixins";
@import "../node_modules/@coreui/coreui/scss/root";

// 6. Optionally include any other parts as needed
@import "../node_modules/@coreui/coreui/scss/mixins/banner";
@include bsBanner("");

// scss-docs-start import-stack
// Configuration
@import "../node_modules/@coreui/coreui/scss/functions";
@import "../node_modules/@coreui/coreui/scss/variables";
@import "../node_modules/@coreui/coreui/scss/variables-dark";
@import "../node_modules/@coreui/coreui/scss/maps";
@import "../node_modules/@coreui/coreui/scss/mixins";
@import "../node_modules/@coreui/coreui/scss/utilities";

// Layout & components
@import "../node_modules/@coreui/coreui/scss/root";
@import "../node_modules/@coreui/coreui/scss/reboot";
@import "../node_modules/@coreui/coreui/scss/type";
@import "../node_modules/@coreui/coreui/scss/images";
@import "../node_modules/@coreui/coreui/scss/containers";
@import "../node_modules/@coreui/coreui/scss/grid";
@import "../node_modules/@coreui/coreui/scss/tables";
@import "../node_modules/@coreui/coreui/scss/forms";
@import "../node_modules/@coreui/coreui/scss/buttons";
@import "../node_modules/@coreui/coreui/scss/transitions";
@import "../node_modules/@coreui/coreui/scss/dropdown";
@import "../node_modules/@coreui/coreui/scss/button-group";
@import "../node_modules/@coreui/coreui/scss/nav";
@import "../node_modules/@coreui/coreui/scss/navbar";
@import "../node_modules/@coreui/coreui/scss/card";
@import "../node_modules/@coreui/coreui/scss/accordion";
@import "../node_modules/@coreui/coreui/scss/breadcrumb";
@import "../node_modules/@coreui/coreui/scss/pagination";
@import "../node_modules/@coreui/coreui/scss/badge";
@import "../node_modules/@coreui/coreui/scss/alert";
@import "../node_modules/@coreui/coreui/scss/progress";
@import "../node_modules/@coreui/coreui/scss/list-group";
@import "../node_modules/@coreui/coreui/scss/close";
@import "../node_modules/@coreui/coreui/scss/toasts";
@import "../node_modules/@coreui/coreui/scss/modal";
@import "../node_modules/@coreui/coreui/scss/tooltip";
@import "../node_modules/@coreui/coreui/scss/popover";
@import "../node_modules/@coreui/coreui/scss/carousel";
@import "../node_modules/@coreui/coreui/scss/spinners";
@import "../node_modules/@coreui/coreui/scss/offcanvas";
@import "../node_modules/@coreui/coreui/scss/placeholders";

@import "../node_modules/@coreui/coreui/scss/avatar";
@import "../node_modules/@coreui/coreui/scss/callout";
@import "../node_modules/@coreui/coreui/scss/footer";
@import "../node_modules/@coreui/coreui/scss/header";
@import "../node_modules/@coreui/coreui/scss/icon";
@import "../node_modules/@coreui/coreui/scss/sidebar";

// Helpers
@import "../node_modules/@coreui/coreui/scss/helpers";

// Utilities
@import "../node_modules/@coreui/coreui/scss/utilities/api";
// scss-docs-end import-stack

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/@coreui/coreui/scss/utilities/api";

// 8. Add additional custom code here