:root {
    --main-bg-colour: #FFFFFF;
    --main-text-colour: #303D61;
    --main-heading-colour: #003CE0;
    --main-highlight-colour: #E0BC00;
    --main-shading-colour: #6E6B5E;
    --main-contrast-colour: #E08600;
}

.fraunces-thin-100> {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}

.fraunces-thin-100-italic> {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: italic;
    font-variation-settings:
      "SOFT" 0,
      "WONK" 0;
  }

.fraunces-extralight-200> {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

.fraunces-extralight-200-italic> {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: italic;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

.fraunces-light-300> {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

.fraunces-light-300-italic> {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

.fraunces-regular-400> {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

.fraunces-regular-400-italic> {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

.fraunces-medium-500> {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

.fraunces-medium-500-italic> {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

.fraunces-semibold-600> {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

.fraunces-semibold-600-italic> {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

.fraunces-bold-700> {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

.fraunces-bold-700-italic> {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

.fraunces-extrabold-800> {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

.fraunces-extrabold-800-italic> {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: italic;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

.fraunces-black-900> {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

.fraunces-black-900-italic> {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: italic;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}