<%- include('partials/header.ejs') %>

  <body>
    <div class="card text-bg-dark">
      <img src="/images/beggars-sat-beside-street-with-homeless-message-please-help-work-with-food.jpg" class="card-img" alt="Homeless beggar sitting on street curb with cardboard sign " attributionsrc="https://www.freepik.com/free-photo/beggars-sat-beside-street-with-homeless-message-please-help-work-with-food_8351927.htm#fromView=search&page=1&position=6&uuid=1ba45b60-3d27-43e2-b05b-9fa072ed229a"/>
      <div class="container-fluid">
        <p class="text-end">
          Image by <a href="https://www.freepik.com/free-photo/beggars-sat-beside-street-with-homeless-message-please-help-work-with-food_8351927.htm#fromView=search&page=1&position=6&uuid=1ba45b60-3d27-43e2-b05b-9fa072ed229a" target="_blank" rel="noreferrer">jcomp on Freepik</a>
        </p>
      </div>
    
      <div class="card-img-overlay">
        <h1 class="card-title">Easy to give then receive</h1>
        <p class="card-text">Welcome to <%= title %></p>
      </div>

      <div class="container-fluid" id="WebChatContainer"></div>

      <div class="container text-center">
        <h2 class="text-center">About Us</h2>
        <p>Easy to give then receive by <strong>Philanthropography</strong> started as part of the <strong>2024 Call for Code Global Challenge</strong>. Our mission is mobilise ordinary people to help reach the <a href="https://sdgs.un.org/2030agenda">2030 Agenda for Sustainable Development</a>. Our project is powered by factual, data-driven, generative AI.</p>
        <div class="container row">
          <div class="container col card text-bg-dark mb-3" style="max-width: 18rem;">
            <div class="container card-header">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="width: 50%">
                <path fill="var(--ci-primary-color, currentColor)" d="M425.706,86.294A240,240,0,0,0,86.294,425.706,240,240,0,0,0,425.706,86.294Zm-80.04,236.745a111.781,111.781,0,0,0,0-134.078l68.218-68.218a207.579,207.579,0,0,1,0,270.514ZM176,256a80,80,0,1,1,80,80A80.091,80.091,0,0,1,176,256ZM391.257,98.116l-68.218,68.218a111.781,111.781,0,0,0-134.078,0L120.743,98.116a207.579,207.579,0,0,1,270.514,0ZM98.116,120.743l68.218,68.218a111.781,111.781,0,0,0,0,134.078L98.116,391.257a207.579,207.579,0,0,1,0-270.514Zm22.627,293.141,68.218-68.218a111.781,111.781,0,0,0,134.078,0l68.218,68.218a207.579,207.579,0,0,1-270.514,0Z" class="ci-primary"/>
              </svg>
            </div>
            <div class="container card-body">
              <h5 class="card-title">Request Assistance</h5>
              <p class="card-text">Our solution provides an <strong>easy and trustworthy</strong> way for ordinary people or businesses to express their needs.</p>
              <p>We understand how hard it can be to ask for help, so we keep privacy and dignity at the centre of what we do.</p>
            </div>
          </div>
          <div class="container col card text-bg-dark mb-3" style="max-width: 18rem;">
            <div class="container card-header">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="width: 50%">
                <path fill="var(--ci-primary-color, currentColor)" d="M256,16C123.452,16,16,123.452,16,256S123.452,496,256,496,496,388.548,496,256,388.548,16,256,16ZM403.078,403.078a207.253,207.253,0,1,1,44.589-66.125A207.332,207.332,0,0,1,403.078,403.078Z" class="ci-primary"/>
                <path fill="var(--ci-primary-color, currentColor)" d="M256,384A104,104,0,0,0,360,280H152A104,104,0,0,0,256,384Z" class="ci-primary"/>
                <polygon fill="var(--ci-primary-color, currentColor)" points="205.757 228.292 226.243 203.708 168 155.173 109.757 203.708 130.243 228.292 168 196.827 205.757 228.292" class="ci-primary"/>
                <polygon fill="var(--ci-primary-color, currentColor)" points="285.757 203.708 306.243 228.292 344 196.827 381.757 228.292 402.243 203.708 344 155.173 285.757 203.708" class="ci-primary"/>
              </svg>
            </div>
            <div class="container card-body">
              <h5 class="card-title">Play Your Part</h5>
              <p class="card-text">We help donors to find truly meaningful, SDG-related causes they can back, giving them piece of mind to know that their time and resources are really making a difference.</p>
            </div>
          </div>
          <div class="container col card text-bg-dark mb-3" style="max-width: 18rem;">
            <div class="container card-header">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="width: 50%">
                <path fill="var(--ci-primary-color, currentColor)" d="M462.541,316.3l-64.344-42.1,24.774-45.418A79.124,79.124,0,0,0,432.093,192V120A103.941,103.941,0,0,0,257.484,43.523L279.232,67a71.989,71.989,0,0,1,120.861,53v72a46.809,46.809,0,0,1-5.215,21.452L355.962,284.8l89.058,58.274a42.16,42.16,0,0,1,19.073,35.421V432h-72v32h104V378.494A74.061,74.061,0,0,0,462.541,316.3Z" class="ci-primary"/>
                <path fill="var(--ci-primary-color, currentColor)" d="M318.541,348.3l-64.343-42.1,24.773-45.418A79.124,79.124,0,0,0,288.093,224V152A104.212,104.212,0,0,0,184.04,47.866C126.723,47.866,80.093,94.581,80.093,152v72a78,78,0,0,0,9.015,36.775l24.908,45.664L50.047,348.3A74.022,74.022,0,0,0,16.5,410.4L16,496H352.093V410.494A74.061,74.061,0,0,0,318.541,348.3ZM320.093,464H48.186l.31-53.506a42.158,42.158,0,0,1,19.073-35.421l88.682-58.029L117.2,245.452A46.838,46.838,0,0,1,112.093,224V152a72,72,0,1,1,144,0v72a46.809,46.809,0,0,1-5.215,21.452L211.962,316.8l89.058,58.274a42.16,42.16,0,0,1,19.073,35.421Z" class="ci-primary"/>
              </svg>
            </div>
            <div class="container card-body">
              <h5 class="card-title">Augmented Intelligence</h5>
              <p class="card-text">Our AI-driven tools help you make informed decision around your ESG strategy.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <section id="giving-section">
          <h2>Receive</h2>
          <form></form>
        </section>
      </div>

      <div class="container-fluid">
        <section id="giving-section">
          <h2>Give</h2>
          <form></form>
        </section>
      </div>

      <div class="container-fluid">
        <section id="giving-section">
          <h2>Tools</h2>
          <form></form>
        </section>
      </div>

    </div>
    
    <%- include('partials/footer.ejs') %>
    <%- include('partials/chat.ejs') %>