<%- include('partials/header.ejs') %>

  <body>
    <div class="card text-bg-dark">
      <img src="/images/beggars-sat-beside-street-with-homeless-message-please-help-work-with-food.jpg" class="card-img" alt="Homeless beggar sitting on street curb with cardboard sign " attributionsrc="https://www.freepik.com/free-photo/beggars-sat-beside-street-with-homeless-message-please-help-work-with-food_8351927.htm#fromView=search&page=1&position=6&uuid=1ba45b60-3d27-43e2-b05b-9fa072ed229a"/>
      <p class="text-end"><a href="https://www.freepik.com/free-photo/beggars-sat-beside-street-with-homeless-message-please-help-work-with-food_8351927.htm#fromView=search&page=1&position=6&uuid=1ba45b60-3d27-43e2-b05b-9fa072ed229a">Image by jcomp on Freepik</a></p>
    
      <div class="card-img-overlay">
        <h1 class="card-title"><%= title %></h1>
        <p class="card-text">Welcome to <%= title %></p>
      </div>
      
      <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Dark card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    
    <%- include('partials/footer.ejs') %>