</main>
<footer class="footer">
    <div>
      <p>Philanthropography<p>
      <span>&copy; <%= new Date().getFullYear(); %> Philanthropography.</span>
    </div>
    <div>
      <span>Powered by</span>
      <a href="https://coreui.io">CoreUI</a>
    </div>
  </footer>
  
  <script async src="https://cdn.jsdelivr.net/npm/es-module-shims@1/dist/es-module-shims.min.js" crossorigin="anonymous"></script>
  <script type="importmap">
  {
    "imports": {
      "@popperjs/core": "https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/esm/popper.min.js",
      "coreui": "https://cdn.jsdelivr.net/npm/coreui@5.0.2/dist/js/coreui.esm.min.js"
    }
  }
  </script>
  
  <script type="module">
    import * as coreui from 'https://cdn.jsdelivr.net/npm/@coreui/coreui@5.0.2/dist/js/coreui.bundle.min.js'
  </script>

</body>

</html>