<!DOCTYPE html>
<html lang="en" data-coreui-theme="dark">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/styles.css' />
    <style>
      #WebChatContainer {
        position: absolute;
        right: 0%;
        width: 40%;
        height: 75vh;
        top: 10px;
        bottom: 10px;
      }

      #WACContainer.WACContainer .HideWebChat {
          display: none;
          font-family: "Fraunces", serif;
      }
    </style>
  </head>

  <header class="header sticky-top" data-coreui-theme="dark">
    <a class="header-brand" href="#"><%= title %></a>
    <div class="header-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="visually-hidden">(current)</span></a>
      <a class="nav-item nav-link" href="#">Receive</a>
      <a class="nav-item nav-link" href="#">Give</a>
      <a class="nav-item nav-link" href="#">Tools</a>
    </div>
  </header>