<!DOCTYPE html>
<html lang="en" data-coreui-theme="dark">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/styles.css' />
    <style>
      a {
        color: white;
        text-decoration: underline;
      }

      @keyframes fade-in {
        from {color: white;}
        to {color: #E0BC00;}
      }

      #call-to-action {
        animation-name: fade-in;
        animation-duration: 4s;
        animation-timing-function: ease;
        animation-delay: 2s;
        animation-iteration-count: infinite;
        animation-duration: 0.5s;
        animation-direction: alternate;
        animation-fill-mode: both;
      }

      #WebChatContainer {
        position: absolute;
        right: 0%;
        width: 40%;
        height: 75vh;
        top: 10px;
        bottom: 10px;
      }

      #WACContainer.WACContainer .HideWebChat {
          display: none;
          font-family: "Fraunces", serif;
      }
    </style>
  </head>

  <header class="header sticky-top" data-coreui-theme="dark">
    <a class="header-brand" href="#"><%= title %></a>
    <div class="header-nav">
      <span><p id="call-to-action" class="nav-item" style="color: #E0BC00; font-size: 1.3rem; font-weight: bold; margin-bottom: 0;">Click on the chat icon in the bottom right to make a new request.</p></span>
      <a class="nav-item nav-link active" href="#"><span class="visually-hidden">(current)</span></a>
      <a class="nav-item nav-link" href="#"></a>
      <a class="nav-item nav-link" href="#"></a>
      <a class="nav-item nav-link" href="#"></a>
    </div>
  </header>