<!DOCTYPE html>
<html lang="en" data-coreui-theme="dark">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/styles.css' />
  </head>

  <header class="header sticky-top">
    <a class="header-brand" href="#">Easy to Give Then Receive</a>
    <div class="header-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="visually-hidden">(current)</span></a>
      <a class="nav-item nav-link" href="#">Give</a>
      <a class="nav-item nav-link" href="#">Receive</a>
      <a class="nav-item nav-link" href="#">Report</a>
    </div>
  </header>